<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.CityInfoMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.sony.ppog.entity.CityInfo" autoMapping="true">
		<id property="id" jdbcType="INTEGER" column="id" />
	</resultMap>
	<select id="selectById" parameterType="java.lang.Integer"
		resultMap="BasicResultMap">
		select
		    cl.id
		    , cl.name
		    , cl.continent
		    , cl.nation
		    , cl.district
		    , cl.population
		    , cl.language 
		from
		    city_info as cl 
		where
		    cl.id = #{id,jdbcType=Integer}
	</select>
	<select id="findMaximumRanks" parameterType="java.lang.Integer"
		resultMap="BasicResultMap">
		select
		    cl.id
		    , cl.name
		    , cl.continent
		    , cl.nation
		    , cl.district
		    , cl.population
		    , cl.language 
		from
		    city_info as cl 
		order by
		    cl.population desc 
		limit
		    #{sort,jdbcType=INTEGER}
	</select>
	<select id="findMinimumRanks" parameterType="java.lang.Integer"
		resultMap="BasicResultMap">
		select
		    cl.id
		    , cl.name
		    , cl.continent
		    , cl.nation
		    , cl.district
		    , cl.population
		    , cl.language 
		from
		    city_info as cl 
		order by
		    cl.population asc 
		limit
		    #{sort,jdbcType=INTEGER}
	</select>
	<select id="countCityInfosByName" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select
		    count(1) 
		from
		    city_info as cl 
		where
		    cl.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
	</select>
	<select id="getCityInfosByName" resultMap="BasicResultMap">
		select
		    cl.id
		    , cl.name
		    , cl.continent
		    , cl.nation
		    , cl.district
		    , cl.population
		    , cl.language 
		from
		    city_info as cl 
		where
		    cl.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
		order by
		    cl.id asc 
		limit
		    #{pageSize,jdbcType=INTEGER} offset #{offset,jdbcType=INTEGER}
	</select>
	<select id="countCityInfosByNation" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select
		    count(1) 
		from
		    city_info as cl 
		where
		    cl.nation = #{nation,jdbcType=VARCHAR} 
	</select>
	<select id="getCityInfosByNation" resultMap="BasicResultMap">
		select
		    cl.id
		    , cl.name
		    , cl.continent
		    , cl.nation
		    , cl.district
		    , cl.population
		    , cl.language 
		from
		    city_info as cl 
		where
		    cl.nation = #{nation,jdbcType=VARCHAR} 
		order by
		    cl.id asc 
		limit
		    #{pageSize,jdbcType=INTEGER} offset #{offset,jdbcType=INTEGER}
	</select>
	<select id="countCityInfos" resultType="java.lang.Integer">
		select
		    count(1) 
		from
		    city_info as cl 
	</select>
	<select id="getCityInfos" resultMap="BasicResultMap">
		select
		    cl.id
		    , cl.name
		    , cl.continent
		    , cl.nation
		    , cl.district
		    , cl.population
		    , cl.language 
		from
		    city_info as cl 
		order by
		    cn.id asc 
		limit
		    #{pageSize,jdbcType=INTEGER} offset #{offset,jdbcType=INTEGER}
	</select>
</mapper>