<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.LanguageMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.sony.ppog.entity.Language" autoMapping="true">
		<id property="countryCode" jdbcType="VARCHAR" column="country_code" />
		<id property="language" jdbcType="VARCHAR" column="language" />
	</resultMap>
	<select id="getOfficialLanguageByCountryCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		select
		    al.language 
		from
		    language as al 
		    inner join ( 
		        select distinct
		            max(al.percentage) as maxpercentage 
		        from
		            language as al 
		        where
		            al.delete_flg = 'visible' 
		        group by
		            al.country_code
		    ) nl 
		        on nl.maxpercentage = al.percentage 
		where
		    al.is_official = 'T'
		    and al.country_code = #{countryCode,jdbcType=VARCHAR}
	</select>
</mapper>