<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.LanguageMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.sony.ppog.entity.Language" autoMapping="true">
		<id property="countryCode" jdbcType="VARCHAR" column="country_code" />
		<id property="language" jdbcType="VARCHAR" column="language" />
	</resultMap>
	<select id="getOfficialLanguageByCountryCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		select
		    case 
		        when (um.ofpercentage - coalesce(om.otpercentage, 0)) &gt;= 35 
		            then um.oflanguage 
		        else coalesce(om.otlanguage, um.oflanguage) 
		        end as language 
		from
		    language as al 
		    left join ( 
		        select
		            nl.country_code
		            , nl.language as otlanguage
		            , nl.percentage as otpercentage
		            , row_number() over ( 
		                partition by
		                    country_code 
		                order by
		                    percentage desc
		            ) as rnk 
		        from
		            language as nl
		        where
		            nl.delete_flg = 'visible' 
		            and nl.is_official = 'T'
		    ) om 
		        on om.country_code = al.country_code 
		        and om.rnk = 1 
		    left join ( 
		        select
		            nl.country_code
		            , nl.language as oflanguage
		            , nl.percentage as ofpercentage
		            , row_number() over ( 
		                partition by
		                    country_code 
		                order by
		                    percentage desc
		            ) as rnk 
		        from
		            nl.language 
		        where
		            nl.delete_flg = 'visible' 
		            and nl.is_official = 'F'
		    ) um 
		        on um.country_code = al.country_code 
		        and um.rnk = 1 
		where
		    al.country_code = #{countryCode,jdbcType=VARCHAR} 
		group by
		    al.country_code
		    , um.oflanguage
		    , om.otlanguage
		    , um.ofpercentage
		    , om.otpercentage
	</select>
</mapper>